* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

p,
ul {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .container {
    padding: 0 5%;
  }
}

header {
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 888;
  transition: all 0.5s;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header .logo {
  font-size: 30px;
  border: 2px solid white;
  color: white;
  padding: 0 5px;
}
header .header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
header .header nav ul li a {
  color: white;
}
header .header nav ul li.active a {
  color: #ffb400;
}
header .header .menu-icon {
  display: none;
  color: gray;
  gap: 5px;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  header .header nav {
    display: none;
  }
  header .header nav.show {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 95px;
    padding: 30px 0;
    background-color: black;
  }
  header .header nav.show ul {
    flex-direction: column;
  }
  header .header .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
header.header-scroll {
  background-color: #27272b;
  padding: 1.5rem 0;
}

#home .home {
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#home .home .bg-color {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
  width: 100%;
}
#home .home.bg1 {
  background-image: url("../images/bg_1.jpg");
}
#home .home.bg2 {
  background-image: url("../images/bg_2.jpg");
}
#home .home.bg3 {
  background-image: url("..//images/bg_3.jpg");
}

#about .about {
  display: flex;
}
#about .about .left {
  width: 50%;
  background-image: url("../images/about-2.jpg");
  height: 75vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#about .about .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 70px;
}
#about .about .right span {
  color: rgb(218, 212, 212);
}
#about .about .right p {
  color: gray;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  #about .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #about .about .left {
    width: 100%;
  }
  #about .about .right {
    width: 100%;
  }
}

#menu {
  padding: 100px 0;
  background-color: #fafafa;
}
#menu .menu .menu-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 50px;
}
#menu .menu .menu-content span {
  color: rgb(218, 212, 212);
}
#menu .menu .menu-btns {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#menu .menu .menu-btns .menu-btn {
  background-color: white;
  width: 10%;
  height: 70px;
  color: rgb(192, 188, 188);
  font-weight: 600;
}
#menu .menu .menu-btns .menu-btn.active-btn {
  background-color: #ffb400;
  color: black;
}
#menu .menu .menu-card-lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
#menu .menu .menu-card-lists .menu-card {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: unset;
  transition: all 0.5s;
}
#menu .menu .menu-card-lists .menu-card p {
  color: gray;
}
#menu .menu .menu-card-lists .menu-card .img {
  width: 80px;
  height: 80px;
}
#menu .menu .menu-card-lists .menu-card .img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
#menu .menu .menu-card-lists .menu-card:hover {
  background-color: #ffb400;
}
@media screen and (max-width: 767px) {
  #menu .menu .menu-card-lists {
    grid-template-columns: repeat(1, 1fr);
  }
}
#menu .menu .reservation {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}
#menu .menu .reservation p {
  color: rgb(169, 167, 167);
}
#menu .menu .reservation button {
  color: #ffb400;
  border: 1px solid #ffb400;
  width: 15%;
  height: 60px;
  background-color: transparent;
  transition: all 0.5s;
}
#menu .menu .reservation button:hover {
  background-color: #ffb400;
  color: black;
}

#blog {
  padding: 100px 0;
}
#blog .blog .blog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 50px;
}
#blog .blog .blog-content span {
  color: rgb(218, 212, 212);
}
#blog .blog .blog-card-lists {
  margin-top: 50px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
#blog .blog .blog-card-lists .blog-card {
  border: 1px solid rgb(178, 172, 172);
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
#blog .blog .blog-card-lists .blog-card .img {
  position: absolute;
  top: -50px;
  width: 100px;
  height: 100px;
}
#blog .blog .blog-card-lists .blog-card .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#blog .blog .blog-card-lists .blog-card span {
  font-size: 14px;
  color: rgb(178, 172, 172);
}
#blog .blog .blog-card-lists .blog-card p {
  color: rgb(178, 172, 172);
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  #blog .blog .blog-card-lists {
    grid-template-columns: repeat(1, 1fr);
  }
}

#contact {
  padding-bottom: 100px;
}
#contact .contact .contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 50px;
}
#contact .contact .contact-content span {
  color: rgb(218, 212, 212);
}
#contact .contact-info .contact-card-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
#contact .contact-info .contact-card-lists .contact-card .img {
  height: 30vh;
}
#contact .contact-info .contact-card-lists .contact-card .img img {
  width: 100%;
  height: 100%;
}
#contact .contact-info .contact-card-lists .contact-text {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: column;
  gap: 1rem;
}
#contact .contact-info .contact-card-lists .contact-text span {
  color: rgb(178, 172, 172);
}
#contact .contact-info .contact-card-lists .contact-text h4:hover {
  color: #ffb400;
}
@media screen and (max-width: 767px) {
  #contact .contact-info .contact-card-lists {
    grid-template-columns: repeat(1, 1fr);
  }
}

footer {
  padding: 100px 0;
  background-color: #27272b;
}
footer .footer .footer-top {
  margin-bottom: 50px;
}
footer .footer .footer-top nav {
  display: flex;
  justify-content: space-between;
  align-items: unset;
  gap: 2rem;
}
footer .footer .footer-top nav ul {
  width: 25%;
}
footer .footer .footer-top nav ul h3 {
  margin-bottom: 50px;
  color: white;
}
footer .footer .footer-top nav ul li {
  margin: 10px 0;
}
footer .footer .footer-top nav ul li a {
  color: gray;
}
footer .footer .footer-top nav ul li a:hover {
  color: white;
}
footer .footer .footer-top nav ul .social-icon {
  display: flex;
  gap: 1rem;
}
footer .footer .footer-top nav ul .social-icon .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
}
footer .footer .footer-top nav ul input {
  background-color: transparent;
  font-size: 20px;
  color: gray;
  border: 1px solid gray;
  padding: 10px;
}
footer .footer .footer-bottom p {
  color: gray;
  text-align: center;
}
@media screen and (max-width: 767px) {
  footer .footer .footer-top nav {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }
  footer .footer .footer-top nav ul {
    width: 100%;
  }
} /*# sourceMappingURL=style.css.map */
